@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 30, 50;
  }
}

html {
  font-size: 18px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))), rgb(var(--background-start-rgb))
              conic-gradient(at 50% -1rem, #0007, #fff7, #0007);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-tooltip] {
  @apply relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  @apply absolute top-0 left-1/2 -translate-y-full -translate-x-1/2 bg-black/50 text-white px-3 py-1 text-xs rounded-md z-10;
  @apply opacity-0 transition-opacity delay-100;
}

[data-tooltip]:hover::after {
  @apply opacity-100;
}
